.app{
  background-color: $background-color;
  color:$text-color;
  display: flex;
}

.left-navi{
  list-style-type: none;
  border-right: 1px solid #ccc;
  margin-right: $base-margin;
  padding-right: $base-margin;
}

.side-menu{
  max-width: 230px;
  background-color: #d7e4f4;
  border-right: 1px solid #ccc;
}

.search-page{
  padding: 0 $base-margin;
}

.app-header{
    text-align: center;
}
