.hotel-price-row{
  min-width:70px;
}

.img-cell{
  border-radius: 10px;
  width: 60px;
  height: 60px;
}

.name-cell{
  width:360px;
  max-width:360px;
}

.siimple-table-cell{
  vertical-align: middle;
}
