$background-color: #eee;
$text-color: #444470;
$base-margin: 40px;

body
{
  font-family: Verdana, Arial, 'sans-serif';
}

.align-center{
  text-align: center;
}

@import 'App';
@import 'SearchForm';
@import 'SearchResultArea';
@import 'GeoResult';
@import 'HotelTable';
